@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323', monospace;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

#flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(50vh - 313px);
}

#page-container {
  border: 3px dashed white;
  height: 600px;
  width: 800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#page-heading {
  text-align: center;
  margin: 0;
}

#navBar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-top: 0;
}

#navBar a,
#navBar a:visited {
  font-size: 1.25em;
}

a,
a:visited {
  color: cyan;
  text-decoration: none;
}

a:hover {
  color: darkcyan;
}

.card {
  margin: 12px;
}

.books-content h2,
.authors-content h2,
.books-content p,
.authors-content p,
#home-head p {
  margin: 0;
}

.home-content {
  margin: 12px;
}

#home-head {
  text-align: center;
  margin-bottom: 12px;
}

#home-head h1 {
  margin-bottom: .25em;
}

.book-content,
.author-content {
  margin: 12px;
}

.author-content h2 {
  margin-bottom: 0;
}

#loginForm,
#registerForm {
  display: flex;
  flex-direction: column;
}

#loginForm label,
#registerForm label {
  margin-bottom: 12px;
}

.login-content,
.register-content {
  margin-left: auto;
  margin-right: auto;
}